{% extends "../layouts/default.twig" %}

{% set page_title = product.name %}
{% set page_description = 'CHANNEL Cart' %}

{% block content %}
<div class="container">
  <h1 class="mt-5 ml-2">Cart</h1>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-2">
              <img src="/images/{{ product.image }}" width="80%" alt="{{ product.name }}" class="rounded float-left" />
            </div>
            <div class="col-md-6">
              <h5>{{ product.name }}</h5>
              <small>{{ product.description }}</small>
            </div>
            <div class="col-md-4">
              <label for="cart-number">Number of products</label>
              <div class="input-group">
                <input type="text" id="cart-number" class="form-control" placeholder="Number of {{ product.name }}" value="1">
                <span class="input-group-addon" id="basic-addon2">in cart</span>
              </div>
              <button type="button" class="btn btn-danger mt-2">remove</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-12 mt-5">
      <a class="btn btn-secondary" href="/">Continue Shopping</a>
      <a class="btn btn-primary" href="#">Checkout</a>
    </div>
  </div>
</div>
{% endblock %}
