{% extends "../layouts/default.twig" %}

{% set page_title = 'Products listing' %}
{% set page_description = 'This is the description of the products listing view' %}

{% block content %}
  <section class="text-muted">
    <div class="container">
      <h1 class="mt-5 ml-2">Products listing</h1>
      <div class="card-group">
        {% for product in products %}
          <div class="card">
            <img class="card-img-top" src="/images/{{ product.image }}" alt="{{ product.name }}">
            <div class="card-body">
              <h4 class="card-title">{{ product.name }}</h4>
              <p class="card-text">{{ product.description }}</p>
              <a href="/products/view/{{ product.id }}" class="btn btn-primary">View More</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
