{% extends "../layouts/default.twig" %}

{% set page_title = product.name %}
{% set page_description = product.description %}

{% block content %}
  <div class="container" id="product-section">
    <h1 class="mt-5 ml-2">Product info</h1>
    <div class="row align-items-center">
      <div class="col-md-6">
        <img
          src="/images/{{ product.image }}"
          alt="{{ product.name }}"
          class="image-responsive"
         />
      </div>
      <div class="col-md-6">
        <div class="col-md-12">
          <h1>{{ product.name }}</h1>
          <p>{{ product.description }}</p>
          <p>Stock level: {{ product.stock }}</p>
          <a class="btn btn-primary" href="/products/cart/{{ product.id }}">Buy</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
